streamlit
google-generativeai
pillow
python-dotenv
pymupdf
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
langchain.text_splitter
langchain_community.vectorstores
langchain_huggingface
